* {
  margin: 0;
  border: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  height: 100%;
  overflow: hidden;
}

.app .app-header {
  height: 48px;
  background-color: #0a0f0e;
  color: #ffffff;
  line-height: 48px;
}

.app .app-header .logo-content {
  font-size: 22px;
  margin-left: 20px;
  cursor: pointer;
}

.app .app-main {
  background-color: #ffffff;
  height: calc(100% - 105px);
}

.app .app-footer {
  height: 22px;
  background-color: #f0f2ff;
  border-top: 1px solid #cad0f7;
}

.app-menu {
  background-color: #f0f2ff;
  font-size: 14px;
  border-bottom: 1px solid #cad0f7;
  color: #696868;
  position: relative;
}

.app-menu .menu-content {
  width: calc(100% - 61px);
  display: inline-block;
  vertical-align: bottom;
  overflow: hidden;
}

.menu-content .nav-scroll {
  white-space: nowrap;
  float: left;
}

.app-menu .nav-bar {
  position: absolute;
  display: none;
  width: 20px;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
  background-color: #f0f2ff;
  text-align: center;
}

.app-menu .nav-bar.prev {
  left: 0px;
}

.app-menu .nav-bar.next {
  right: 60px;
}

.app-menu .menu-tools ,
.app-menu .app-menu-item {
  display: inline-block;
  padding: 5px 15px;
  background-color: #ffffff;
  border-radius: 5px 5px 0 0;
  margin: 3px 0 0 1px;
  height: 20px;
  border: 1px solid #cad0f7;
  border-bottom-color: transparent;
  cursor: pointer;
}

.app-menu .menu-tools {
  background-color: #cad0f7;;
}

.app-menu .app-menu-item:hover,
.app-menu .app-menu-item.is-active {
  background-color: #ff900d;
  color: #ffffff;
}
